body {
    background: purple;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

img {
    border: 1px solid black;
    width: 100%;
    height: 400px;
}

.bio {
    float: left;
    width: 65%;
    background: #eee;
    color: #333;
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

aside {
    float: left;
    width: 32%;
    background: #eee;
    color: #333;

}